*{
    font-family: Roboto;
}
p{
    margin-top: 0;
    margin-bottom: 0;
}
body{
    margin: 0;
}
.header{
    height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-section{
    display: flex;
    align-items: center;
    background-color: lightblue;
    margin-right: 100px;
    background-color: lightblue;
}
.menu{
    height: 24px;
    margin-left: 22px;
    margin-right: 22px;
}
.youtube{
    height: 20px;
}
.middle-section{
    display: flex;
    align-items: center;
    flex: 1;
    background-color: lightpink;
    max-width: 470px;
}
.right-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 182px;
    background-color: lightblue;
    flex-shrink: 0;

}
.searchbar{
    height: 40px;
    flex: 1;
    border: 1px solid rgb(175, 174, 174);
    box-shadow: inset 1px 2px 5px rgba(0,0,0,0.05);
    max-width: 300px;
    width: 0;
    
}
.searchbar::placeholder{
    font-family: Roboto,Arial;
    font-size: 18px;
}
.search{
    height: 40px;
    width: 66px;
    margin-right: 10px;
    border: 1px solid rgb(175, 174, 174);
    margin-left: -1px;
}

.search-icon{
    height: 24px;
    margin-top: 5px;
}
.voice-search{
    height: 40px;
    width: 40px;
    background-color: rgb(245, 245, 245);
    border: none;
    border-radius: 100%;
}
.voice-search-icon{
    height: 24px;
    margin-top: 3px;
}
.upload{
    height: 24px;
}
.youtube-app{
    height:  24px;
}
.notification{
    height:  24px;
}
.pp{
    height: 32px;
    border-radius: 100%;
}